<div class="ai-section">
    <div class="ai-header">
        <div class="ai-side-header">
            <h2>Artificial Intelligence</h2>
            <div class="line"></div>
        </div>
    </div>
    <div class="ai">
        <div>
            <div class="top-3-ai">

                @if(aiTopPosts.length == 0){
                <div class="ai-top">
                    <h2 class="no-posts">There are currently no posts with AI Trend</h2>
                </div>
                }@else {
                @for (post of aiTopPosts; track $index) {
                <app-ai-template [post]="post" />
                }

                }
            </div>
            <div class="top-3-below">
                @for (post of aiBottomPosts; track $index) {
                    <app-ai-template-below [post]="post" />
                    }
            </div>
        </div>
        <div class="popular-post">
            <h3>Browse Category</h3>
            <div class="">
                <h3 routerLink="/trends/Artificial-Intelligence">Artificial Intelligence</h3>
                <h3 routerLink="/trends/Technology">Technology</h3>
                <h3 routerLink="/trends/Crypto">Crypto</h3>
            </div>
        </div>
    </div>
</div>