.all-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Chakra Petch", sans-serif;
    padding: 50px 0px;
}

.post-container {
    max-width: 1200px;
    width: 100%;
}

.post-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-container-header > h1 {
    width: 300px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #f6f6f6;
}

.post-container-header {
    margin-bottom: 30px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}