.trending-now-a {
    position: relative;
    width: 300px !important;
    text-decoration: none;
    color: black;
    &:hover {
        .temp-title {
            text-decoration: underline;
        }
        .temp-img {
            transform: scale(1.03);
            transition: 0.5s;
        }
        
    }
}
.overflow {
    height: 200px;
    width: 250px;
}
.trending-now-a > p {
   text-align: center;
}
.temp-img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.created-by > span {
    color: rgb(50, 50, 50);
}

.overflow {
    overflow: hidden;
}
