<header>
    <nav>
        <div class="logo"><p><span>E.</span>BLOG</p></div>
        <div class="nav-ul">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="posts">Posts</a></li>
                <li><a href="">Trends</a></li>
                <li><a href="">Top 10</a></li>
            </ul>
        </div>
        <div class="nav-auth">
            @if(isLoggedIn){
            <div class="nav-logged">
                <div >
                    <img (click)="clickEvent()" class="nav-profile-pic" src={{userProfileImg}}  alt="profile-pic"/>
                    <div [ngClass]="shown ? 'show-menu' : 'hide-menu'">
                        <ul class="ul-shown-menu">
                            <li (click)="clickEvent()" routerLink="profile">Profile</li>
                            <li (click)="clickEvent()" routerLink="#">Create Post</li>
                            <li (click)="clickEvent()" routerLink="#">My Posts</li>
                            <li (click)="logout()">Log Out</li>
                        </ul>
                    </div>
                </div>
            </div>
            }@else {
            <div class="nav-guest">
                <a routerLink="login">Login</a>
                <a routerLink="register">Register</a>
            </div>
            }

        </div>
    </nav>
</header>