<header>
    <nav>
        <div class="logo"><p><span>E.</span>BLOG</p></div>
        <div class="nav-ul">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Trends</a></li>
                <li><a href="">Top 10</a></li>
            </ul>
        </div>
        <div class="nav-auth">
            @if(isLoggedIn){
            <div class="nav-logged">
                <div >
                    <img (click)="clickEvent()" class="nav-profile-pic" src="https://png.pngtree.com/thumb_back/fh260/background/20230612/pngtree-in-the-style-of-2d-game-art-image_2884743.jpg"  alt="profile-pic"/>
                    <div [ngClass]="shown ? 'show-menu' : 'hide-menu'">
                        <ul class="ul-shown-menu">
                            <li routerLink="#">Profile</li>
                            <li routerLink="#">Create Post</li>
                            <li routerLink="#">My Posts</li>
                            <li routerLink="#">Log Out</li>
                        </ul>
                    </div>
                </div>
            </div>
            }@else {
            <div class="nav-guest">
                <a routerLink="login">Login</a>
                <a routerLink="register">Register</a>
            </div>
            }

        </div>
    </nav>
</header>