<div class="profile-container">
    <div class="user-profile-container">

        <div class="user-profile-pic">
            <img class="profile-img" src={{userProfile.imgUrl}} alt="user profile pic"/>
        </div>
        <div class="user-profile-content">
            <h1>{{userProfile.username}}</h1>
            <p>{{userProfile.email}}</p>
            <p>{{userProfile.userSummary}}</p>
            <p>post count: {{userProfile.themes.length}}</p>
            <p>UserID: </p>
        </div>
    </div>
    <div class="user-posts-container"></div>
</div>