<div class="profile-container">
    <div class="user-profile-container">

        <div class="user-profile-pic">
            <img class="profile-img" src={{userProfile.imgUrl}} alt="user profile pic"/>
        </div>
        <div class="user-profile-content">
            <h1>{{userProfile.username}}</h1>
            <p>{{userProfile.email}}</p>
            <p>{{userProfile.userSummary}}</p>
            <p>post count: {{userProfile.posts.length}}</p>
        </div>
<!-- 
        <div class="user-profile-pic">
            <img class="profile-img" src='https://media2.dev.to/dynamic/image/width=1080,height=1080,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2F096baapsqqt9fks0us99.png' alt="user profile pic"/>
        </div>
        <div class="user-profile-content">
            <h1>React</h1>
            <p><b>Email:</b>  react at abv.bg</p>
        
            <p><b>Summary:</b> <br>React lets you build user interfaces out of individual pieces called components. Create your own React components like Thumbnail, LikeButton, and Video. Then combine them into entire screens, pages, and apps.</p>
            <p><b>Post count:</b> 0</p>
        </div> -->
    </div>
    <div class="user-posts-container"></div>
</div>