<div class="profile-container">
    <div class="user-profile-container">

        <div class="user-profile-pic">
            <img class="profile-img" src={{userProfile.imgUrl}} alt="user profile pic"/>
        </div>
        <div class="user-profile-content">
            <h1>{{userProfile.username}}</h1>
            <p><b>Email:</b> {{userProfile.email}}</p>
            <p><b>Summary:</b><br>{{userProfile.userSummary}}</p>
            <p><b>Posts Count:</b> {{userProfile.themes.length}}</p>
           
        </div>
    </div>
    <div class="user-posts-container">

        <div class="post-container-header">
            <h1>My Posts.</h1>
            <div class="line"></div>
        </div>

        @if(userPosts.length <= 0){
            <div class='profile-no-post'>
                <p>You don't have any post created! <span routerLink="/create-post">Create Now!</span></p>
            </div>
        }@else{

        }
        @for(post of userPosts;track $index){
            <app-user-posts [post]="post"/>
        }
    </div>
</div>