.edit-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
}

.edit-form-container {
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.edit {
    margin-top: 100px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
}
fieldset > h2 {
    margin-bottom: 15px;
}
.field-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.post-trend-select{
    padding: 10px;
    font-size: 18px;
}
.edit-btn {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #00c89a;
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.label-post{
    margin-bottom: 10px;
}

.field-group>input {
    padding: 10px;
    font-size: 18px;
}
.field-group>textarea {
    padding: 10px;
    font-size: 18px;
}
.groups{
    display: flex;
    gap: 20px;
}
.group-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edit-btn-cont {
    margin-bottom: 15px;
}

.text-center>a>span {
    color: #00c89a;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.error-create-post {
    background-color: red;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 0px;
    text-align: center;
}