.user-posts {
    display: flex;
    flex-direction: row;
    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
.user-posts-img-container >img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.read-more-btn {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #00c89a;
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.post-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding: 15px;
    width: 100%;
}
.post-trend {
    background: #f6f6f6;
    width: fit-content;
    padding: 5px 15px;
    display: flex;
    color: black;
}
.edit-menu-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.edit-menu{
    display: flex;
    flex-direction: row;
}

.edit-menu > p {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #00c89a;
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.edit-menu > p:last-child {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #9e0000;
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}