<div class="user-posts" routerLink="/posts/{{post?._id}}">
    <div class="user-posts-img-container">
        <img src={{post?.postImageUrl}} alt="img" />
    </div>

    <div class="post-content">
        <div class="post-header">
            <p class="post-trend">{{post?.postTrend}}</p>
            <h2>{{post?.postTitle}}</h2>

        </div>
        <p>{{post?.postDescription}}</p>
        <div class="edit-menu-container">
            <a class="read-more-btn" routerLink="/posts/{{post?._id}}">Read More</a>
            <div class="edit-menu">
                <p routerLink="/posts/edit/{{post?._id}}">Edit Post</p>
                <p (click)="deleteUserPost(post?._id)">Delete Post</p>
            </div>
        </div>

    </div>
</div>