<main>
    <div class="header-section">
        <img [attr.src]="macBook" />
        <div class="header-section-bottom">
            <div>
                <a class="header-section-trend" routerLink="#">Trend</a>
                <h1>Apple needs a $250 IPhone to boost sales but it doesn't want to make</h1>
                <div class="header-section-mini">
                    <p>By: Elon Musk - 14 Jan, 2024</p>
                    <p>3 Minute Read</p>
                    <p>Likes: 45</p>
                </div>
            </div>
        </div>
    </div>
    <app-trending-now/>
    <app-technology/>
    <app-artificial/>
    <app-latest-news/>
</main>