<div routerLink="/posts/{{post?._id}}" class="single-tech-posts">
    <div class="single-post-img">
        <img class="single-img" src={{post?.postImageUrl}} alt={{post?.postTitle}}/>
    </div>
    <div class="single-tech-posts-text">
        <p class="single-tech-posts-trend">{{post?.postTrend}}</p>
        <p class="single-tech-posts-title">{{post?.postTitle}}</p>
        <div>
            <p>{{post?.postReadTime}} Minute Read</p>
            <p>Likes: {{post?.userLikes?.length || 0}} Likes</p>
        </div>
    </div>
</div>
